extends ../shared/template
block content
  .container
    #banner.page-header
      .row
        .col-xs-12
          h1#header Home
    .bs-component
      .jumbotron
        h1 Treasure Map
        p
          | Get your Sherlock on!
        p
          a.btn.btn-primary.btn-lg(href='/about') About

block scripts
  script(src='/js/user/home.js')
