extends ../shared/template
block content
  .container
    #banner.page-header
      .row
        .col-xs-12
          h1#header Treasures
    .row




block scripts
  script(src='/js/user/treasures.js')
