extends ../shared/template
block content
  .container
    #banner.page-header
      .row
        .col-xs-12
          h2 Add a Quest Item
    .panel.panel-default
      .panel-body
        form(role='form', method='post', action='/treasures/new', enctype='multipart/form-data')
          .row
            .col-xs-6
              .form-group
                label Quest Name
                input.form-control(type='text', placeholder='Tourists', name='name')
              .form-group
                label Location
                input.form-control(type='text', name='loc', data-loc='name', placeholder='Nashville, TN')
                input.form-control(type='hidden', name='loc', data-loc='lat')
                input.form-control(type='hidden', name='loc', data-loc='lng')
              .form-group#hints
                label Hints
                input.form-control(type='text', placeholder='click the hint button to add more hints', name='hints')
              button#addHint.btn.btn-primary.btn-sm(type='button') Add Hint
            .col-xs-6
              .form-group
                label Upload Photo
                input.form-control(type='file',name='photos', multiple=true)
              .form-group
                label Difficulty
                select.form-control(name='difficulty')
                  option(value='1') Easy
                  option(value='2') Medium
                  option(value='3') Hard
              .form-group
                label Tags
                input.form-control(type='text', placeholder='tag 1, tag 2, tag 3', name='tags')
              .form-group
                label(for='order') Order
                input.form-control(type='number', name='order', value='#{order}', readonly=true)
              button.btn.btn-success.btn-lg(type='submit') Submit

block scripts
  script(src='/js/user/new.js')
