extends ../shared/template
block content
  .container
    #banner.page-header
      .row
        .col-xs-12
          h2 Add a Treasure
    .panel.panel-default
      .panel-body
        .row
          form(role='form', method='post', action='/treasures/new', enctype='multipart/form-data')
            .col-xs-6
              .form-group
                label(for='name') Treasure Name
                input#name.form-control(type='text', placeholder='Treasure Name', name='name')
              .form-group
                label(for='loc') Location Name
                input#locName.form-control(type='text', name='locName', placeholder='BFE')
                input#lat.form-control(type='hidden', name='lat')
                input#lng.form-control(type='hidden', name='lng')
              .form-group#hints
                label(for='hints') Hints
                button.btn.btn-primary.btn-sm#addHint(type='button') Add Hint
                input.form-control(name='hints', type='text')
            .col-xs-6
              .form-group
                label(for='photos') Upload Photos
                input.form-control#photos(type='file',name='photos', multiple=true)
              .form-group
                label(for='difficulty') Difficulty
                select#difficulty(name='difficulty')
                  option(value='1') Easy
                  option(value='2') Medium
                  option(value='3') Hard
              .form-group
                label(for='tags') Tags
                input#tags.form-control(type='text', placeholder='tag 1, tag 2, tag 3', name='tags')
              .form-group
                label(for='order') Order
                input#order.form-control(type='number', name='order', value='#{order}')
              button.btn.btn-success.btn-lg(type='submit') Submit

block scripts
  script(src='/js/user/new.js')
